.nav{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    align-items: center;
    color: white;
    z-index: 100;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 6vw;
}
.nav a{
    text-decoration: none;
    color: white;
}
.logo{
    margin-left: 6vw;
}
li{
    padding: 0 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
}
.nav a:hover{
    color: rgb(172, 167, 167);
}